<div class="container" ng-controller="FriendController">


<div style="background-color:pink">
	<h2>Friend List</h2>
</div>
	<div class="row text-center text-lg-left">
		<div ng-repeat="friend in friendList" class="col-lg-3  col-md-4 col-xs-1">
			<div ng-hide="friend.username==currentUser.username">
				<img src="http://localhost:8084/YammerMiddleware/getImage/{(friend.username)}" class="img-circle" alt="Cinque Terre" width="50" height="50">
				<p>
					<strong>${{friend.friendusername}}</strong>
					<button value="Unfriend" ng-click="unfriend{(friend.friendId)}" class="btn btn-danger"></button>
				</p>
			</div>
			<div ng-hide="friend.friendusername==currentUser.username">
				<img src="http://localhost:8084/YammerMiddleware/getImage/{(friend.username)}" class="img-circle" alt="Cinque Terre" width="50" height="50">
				<p>
					<strong>${(friend.username)}</strong>
				
					<button value="Unfriend" ng-click="unfriend{(friend.friendId)}" class="btn btn-danger"></button>
				</p>
			</div>
		
		</div>
		
		
		
		
		<div style="background-color:pink">
			<h2>Pending Friend Request</h2>
		</div>
		<div class="row text-center text-lg-left">
			<div ng-repeat="friend in pendingFriendList"
				class="col-lg-3 col-md-4 col-xs-1">
				<div ng-show="friend.username==currentUser.username">
					<img src="http://localhost:8084/YammerMiddleware/getImage/{(friend.friendname)}"
					class="img-circle" alt="Cinque Terre" width="50" height="50">
					<p><strong>{(friend.friendusername)}</strong></p>
				</div>
				<div ng-show="friend.friendusername==currentUser.username">
					<img src="http://localhost:8084/YammerMiddleware/getImage/{(friend.username)}" class="img-circle" alt="Cinque Terre" width="50" height="50">
					<p>
						<strong>${(friend.friendusername)}</strong>
					</p>
					<p>
						<input type="button" value="Accept" ng-click="accept{(friend.friendId)}" class="btn btn-danger"></button>
						<input type="button" value="Reject" ng-click="unfriend{(friend.friendId)}" class="btn btn-danger"></button>
					</p>
				</div>
			</div>
	   </div>
	   
	   
	   
	   
	   <div style="background-color:pink">
			<h2>Friend Suggestion</h2>
		</div>
		
	   <div class="row text-center text-lg-left">
			<div ng-repeat="friend in suggestedFriendList"
				class="col-lg-3 col-md-4 col-xs-1">
				<div ng-show="friend.username==currentUser.username">
					<img src="http://localhost:8084/YammerMiddleware/getImage/{(friend.username)}"
					class="img-circle" alt="Cinque Terre" width="50" height="50">
					<p>
						<strong>{(friend.username)}</strong>
						
					</p>
				</div>
				<div ng-show="friend.friendusername==currentUser.username">
					<img src="http://localhost:8084/YammerMiddleware/getImage/{(friend.username)}" class="img-circle" alt="Cinque Terre" width="50" height="50">
					<p>
						<strong>${(friend.username)}</strong>
					</p>
				</div>
			</div>
	   </div>
	   <div class="row text-center text-lg-left">
			<div ng-repeat="friend in suggestedFriendList"
				class="col-lg-3 col-md-4 col-xs-1">
				<div>
					<img src="http://localhost:8084/YammerMiddleware/getImage/{(friend.friendname)}"
					class="img-circle" alt="Cinque Terre" width="50" height="50">
					<p>
						<strong>{(friend.friendusername)}</strong>
						
					</p>
				</div>
					<p>
						<input type="button" value="Send Friend Request" ng-click="friendRequest{(friend.username)}" class="btn btn-success"></button>
					</p>
			</div>
			</div>
	   </div>
</div>