<div class="container" ng-controller="JobController">
    <style text="css">
    
    h1   {color: blue;
    font-family: Georgia;
    font-size: 300%;
    text-align: center;
    
    }
    </style>
     <h1 class="well"> Add Job</h1>
   
    <div class="col-lg-12 well">
      <div class="row">
      <form>
        <div class="col-sm-12">
           <div class="row">
             
                 <div class="col-sm-12 form-group">
                      <label>Job Designation</label><input type="text" name="designation"
                             ng-model="job.designation" placeholder="Enter Job Name" class="form-control">
                 </div>
           
            
                 <div class="col-sm-12 form-group">
                      <label>Job Description</label><input type="text" name="jobDesc"
                             ng-model="job.jobDesc" placeholder="Enter descripton" class="form-control">
                 </div>
           
          
                 <div class="col-sm-12 form-group">
                      <label>Required Qualification</label><input type="text" name="qualification"
                             ng-model="job.qualification" placeholder=" " class="form-control">
                 </div>
           
            
                 <div class="col-sm-12 form-group">
                      <label>Last date to apply</label><input type="text" name="lastDate"
                             ng-model="job.lastDate" placeholder=" " class="form-control">
                 </div>
            </div>
           </div>
       </form>
           
	           <center>
	           <input type="submit" value="Submit Job" class="btn btn-lg btn-primary" ng-click="addJob()"/>
	           </center>
      
           
 </div>         
     </div>  
</div>

