<div class="container" ng-controller="JobController">

	<table class="table table-bordered" align="center">
		<tr class="success">
			<th>Job Id</th>
   		    <th>Posted By</th>
            <th>Job Designation</th>
            <th>Job Description</th>
            <th>Req Qualification</th>
            <th>Posted On</th>
            <th>Last Date to apply</th>
            <th>Status</th>
            <th>Edit</th>
		</tr>
	<tr ng-repeat="job in jobData">
		<td>{{job.jobId}}</td>
        <td>{{job.username}}</td>
        <td>{{job.designation}}</td>
        <td>{{job.jobDesc}}</td>
        <td>{{job.qualification}}</td>
        <td>{{job.postDate}}</td>
        <td>{{job.lastDate}}</td>
        <td>{{job.status}}</td>
        <td><div ng-show="currentUser.username==job.username">  <input type="button" value="Edit" ng-click="editJob(job.jobId)" class="btn btn-info"/></div>
       </td>
	</tr>
</table>

	
</div>

