<div class="container" ng-controller="ForumCommentController">
	
	<div class="panel-group" id="accordion">
		
		<div class="panel-heading">
			
			<h4 class="panel-title">
				
				<a data-toggle="collapse" data-parent="#accordion" href="#collapsel">{{forumInfo.forumName}}</a>
				 
			
			</h4>
		
		</div>
		<div id="collapsel" class="panel-collapse collapse in">
			  <div class="panel-body">
	              <a> {{forumInfo.forumContent}}</a>
	             
                
        
	          </div>
		</div>
	</div>
	
	<table class="table table-bordered" align="center">
		<tr class="success">

<th>Forum Name</th>
<th>Comments</th>
<th>Date</th>
<th>Commented By</th>
<th>Operations</th>
</tr>
<tr ng-repeat="forumComment in forumComments">
    <td>{{forumInfo.forumName}}</td>
    <td>{{forumComment.commentText}}</td>
    <td>{{forumComment.commentDate}}</td>
    <td>{{forumComment.username}}</td>
   <td>
       <div >
       <input type="button" value="Delete" ng-click="deleteForumComment(forumComment.commentId)" class="btn btn-danger"/>
</div>
</td>
</tr>
</table>
	<div>
		<input type="text" ng-model="forumComment.commentText" name="commentText">
		<input type="button" value="AddComment" ng-click="addComment()" class="btn btn-success"/>
    </div>
    
    
	
	
</div>