
<div class="container" ng-controller="ForumController">

	<table class="table table-bordered" align="center">
		<tr class="success">
			<th>Forum Id</th>
			<th>Forum Name</th>
			<th>Created By</th>
			<th>Created On</th>
			<th>Delete</th>
		</tr>
	<tr ng-repeat="forum in forumData">
		<td>{{forum.forumId}}</td>
		<td>{{forum.forumName}}</td>
		<td>{{forum.username}}</td>
		<td>{{forum.createDate}}</td>
		<td>
		<div ng-show="forum.status=='A' && currentUser.username!=forum.username">
			<input type="button" value="Show Forum" ng-click="showForum(forum.forumId)" class="btn btn-success">
		</div>	
		<div ng-show="currentUser.username==forum.username">
			<input type="button" value="Delete" ng-click="deleteForum(forum.forumId)" class="btn btn-danger">
		</div>
		<div ng-show="(forum.status=='NA'|| forum.status=='A') && currentUser.username==forum.username">
			    <input type="button" value="Show Forum" ng-click="showForum(forum.forumId)" class="btn btn-success">
			    <font color="black" face="calibri" size="4">Forum {{forum.status}} </font>
		</div>
		</td>
	</tr>
</table>

	
</div>
