<div class="container" ng-controller="ForumController">
	
	<table class="table table-borderded" align="center">
		<tr bgcolor="green">
			<td clospan="2"><center>Update Forum</center></td>
		</tr>
		<tr>
			<td>Forum ID</td>
			<td><input type="text" ng-model="forumInfo.forumId" randomly/></td>
		</tr>
		<tr>
			<td>Forum Name</td>
			<td><input type="text" ng-model="forumInfo.forumName"/></td>
		</tr>
		<tr>
			<td>Forum Content</td>
			<td><input type="text" ng-model="forumInfo.forumContent"/></td>
		</tr>
		<tr>
			<td colspan="2">
				<center>
					<input type="button" value="Update Forum" ng-click="updateForum()" class="btn btn-success"/>
				</center>
			</td>
		</tr> 
	</table>
</div>