
<div class="container" ng-controller="BlogCommentController">
	
	<div class="panel-group" id="accordion">
		
		<div class="panel-heading">
			
			<h4 class="panel-title">
				
				<a data-toggle="collapse" data-parent="#accordion" href="#collapsel">{{blogInfo.blogName}}</a>
				 
			
			</h4>
		
		</div>
		<div id="collapsel" class="panel-collapse collapse in">
			  <div class="panel-body">
	              <a> {{blogInfo.blogContent}}</a>
	             
                
        
	          </div>
		</div>
	</div>
	
	<table class="table table-bordered" align="center">
		<tr class="success">

<th>Blog Name</th>
<th>Comments</th>
<th>Date</th>
<th>Commented By</th>
<th>Operations</th>
</tr>
<tr ng-repeat="blogComment in blogComments">
    <td>{{blogInfo.blogName}}</td>
    <td>{{blogComment.commentText}}</td>
    <td>{{blogComment.commentDate}}</td>
    <td>{{blogComment.username}}</td>
   <td>
       <div >
       <input type="button" value="Delete" ng-click="deleteBlogComment(blogComment.commentId)" class="btn btn-danger"/>
</div>
</td>
</tr>
</table>
	<div>
		<input type="text" ng-model="blogComment.commentText" name="commentText">
		<input type="button" value="AddComment" ng-click="addComment()" class="btn btn-success"/>
    </div>
    
    <div> <a>{{blogInfo.likes}}<input type="button" value="Likes" ng-click="incrementLikes(blogInfo.blogId)"/></a>
          <a> {{blogInfo.dislikes}}<input type="button" value="Dislikes" ng-click="incrementDislikes(blogInfo.blogId)"/></a>
     </div>
	
	
</div>